<?xml version="1.0" encoding="utf-8"?>

<configuration>

	<system.web>
    <!-- 降低版本 -->
		<!--<compilation debug="true" targetFramework="4.6.1"/>
		<httpRuntime targetFramework="4.6.1"/>-->
    <compilation debug="true" targetFramework="4.0"/>
		
		<!--<httpHandlers>
			<add verb="GET" path="FtbWebResource.axd" type="FreeTextBoxControls.AssemblyResourceHandler,FreeTextBox"/>
		</httpHandlers>-->
		<!-- 设置默认session市场 30分钟 -->
		<sessionState mode="InProc" timeout="30"/>
	</system.web>

	<appSettings>
		<!-- 自定义设置 -->
		<!-- sql链接 -->
    <add key="SqlConnect" value="Server=.;User Id=sa;Pwd=sa;DataBase=lsgs"/>
    <!-- oledb链接 -->
    <add key="OledbPath" value="*"/>
    <add key="OledbConn" value="*"/>


    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />

		<!-- 某些开关，虽然还没设计好 -->

	</appSettings>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs"
			  type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
			  warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
			  type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
			  warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
		</compilers>
	</system.codedom>

</configuration>
